include bootstrap
extends layout

block content
  +panel(title)
    span( id="columns" style="display: none" ) #{columns}
    select( id="directory" ).form-control
      option( value="public" ) Public
      option( value="personal" ) Personal
    select( id="collection" ).form-control
    div( id="media" )
