include bootstrap
extends layout

block content
  +panel(title)
    span( id="columns" style="display: none" ) #{columns}
    select( id="directory" ).form-control
      option( value="#{all_access}" ) Public
      option( value="#{single_access}" ) Personal
    select( id="collection" ).form-control
    div( id="media" )
