include bootstrap
extends layout

block content
  +panel(title)
    script(src='/javascripts/index.js')
    span( id="columns" style="display: none" ) #{columns}
    select( id="directory" ).form-control
      option( value="#{all_access}" ) Public
      option( value="#{single_access}" ) Personal
    input( id="collection", placeholder="Collection Name" ).form-control
    div( id="media" )
